<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ebusiness_canvas.hindu_arti">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme">
        <activity
            android:name=".activites.SplashActivity"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activites.HomeActivity" />
        <activity android:name=".activites.DetailActivity" />
        <activity android:name=".activites.ContainerActivity" />
        <activity android:name=".activites.ContainerDetailActivity" />
        <activity android:name=".activites.BhavishyaActivity" />
        <activity   android:name=".activites.BhavishyaDetailActivity"
                    android:label="@string/childBhavishyaDetail"
                    android:parentActivityName=".activites.BhavishyaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activites.BhavishyaActivity"/>
        </activity>
        <activity android:name=".activites.ArticleActivity" />
        <activity android:name=".activites.ArticleDetailActivity" />
        <activity android:name=".activites.FestivalActivity" />
        <activity android:name=".activites.FestivalDetailActivity" />
        <activity android:name=".activites.PoojaActivity" />
        <activity android:name=".activites.KundaliActivity"/>

    </application>

</manifest>