<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ebusiness_canvas.hindu_arti">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme">
        <activity
            android:name=".activites.SplashActivity"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activites.HomeActivity" />
        <activity   android:name=".activites.NityaKarmaActivity"
                    android:label="@string/childNityaKarma"
                    android:parentActivityName=".activites.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activites.HomeActivity"/>
        </activity>
        <activity   android:name=".activites.NityaKarmaDetailActivity"
                    android:label="@string/childNityaKarmaDetail"
                    android:parentActivityName=".activites.NityaKarmaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activites.NityaKarmaActivity"/>
        </activity>
        <activity   android:name=".activites.BhavishyaActivity"
                    android:label="@string/childBhavishya"
                    android:parentActivityName=".activites.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activites.HomeActivity"/>
        </activity>
        <activity   android:name=".activites.BhavishyaDetailActivity"
                    android:label="@string/childBhavishyaDetail"
                    android:parentActivityName=".activites.BhavishyaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activites.BhavishyaActivity"/>
        </activity>
        <activity   android:name=".activites.ArticleActivity"
                    android:label="@string/childArticle"
                    android:parentActivityName=".activites.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activites.HomeActivity"/>
        </activity>
        <activity   android:name=".activites.ArticleDetailActivity"
                    android:label="@string/childArticleDetail"
                    android:parentActivityName=".activites.ArticleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activites.ArticleActivity"/>
        </activity>
        <activity   android:name=".activites.FestivalActivity"
                    android:label="@string/childFestival"
                    android:parentActivityName=".activites.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activites.HomeActivity"/>
        </activity>
        <activity   android:name=".activites.FestivalDetailActivity"
                    android:label="@string/childFestivalDetail"
                    android:parentActivityName=".activites.FestivalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activites.FestivalActivity"/>
        </activity>
        <activity   android:name=".activites.PoojaActivity"
                    android:label="@string/childPooja"
                    android:parentActivityName=".activites.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activites.HomeActivity"/>
        </activity>
        <activity   android:name=".activites.KundaliActivity"
                    android:label="@string/childKundali"
                    android:parentActivityName=".activites.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activites.HomeActivity"/>
        </activity>
    </application>

</manifest>